body {
    background-color: navy;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 16px;
}