body {
  background-color: #1f2937;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #E5E7EB
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

.body {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left:  32px;
  margin-right: 32px;
  height: 80px;
  color: #F9FAF8;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
}

.header-links {
  display: flex;
  list-style: none;
  font-size: 18px;
  gap: 30px;
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding: 10px;
   margin-left: 32px;
   margin-right: 32px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 20px;
}

.signup {
    background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: #E5E7EB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.heroimg {
    padding: 30px;
    min-width: 50%;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.midbanner {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.midbanner-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  border-radius: 8px;
  width: min-content;
}

.cards img {
  border: 5px solid #3882F6;
  border-radius: 8px;
  height: 150px;
  width: auto;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:400px;
  background-color: lightgray;
}

.quote-main {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 36px;
  color: #1f2937;
}

.quote-sub {
  text-align: end;
  font-size: 25px;
  margin-right: 200px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #E5E7EB;
}

.action {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-main {
  color: #E5E7EB;
  font-size: 24px;
}

.action-sub {
  font-size: 18px;
}

.box {
  background:#3882F6;
  display: flex;
  padding: 10%;
  border: none;
  border-radius: 8px;
  gap: 30px;
  width: 100%;
  flex-grow: inherit;
}

.signup2 {
  background-color: #3882F6;
  border: 2px solid white;
  border-radius: 8px;
  color: #E5E7EB;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}